*{
    font-family: sans-serif;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer {
    margin-top: auto;
}
a {
    text-decoration: none;
}



/* Login CSS*/
.login-content{
    text-align: center;
    margin-top: 100px;

}  

.h2-content{
    color: #198754;
    font-weight: bold;
    border-radius: 10px;
    display: inline;
}
.login-quote{
    font-weight: normal;
    font-size: 15px;
}

.login-container{
    width: 400px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    margin: 25px auto;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid  #198754;
}

input{
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid  #198754;
}



.btn-login{
    display: block;
    width: 100%;
    padding: 5px 0px;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid  #198754;
    font-weight: bold;
    background-color: #198754;
    cursor: pointer;
    transition: 0.5s;
}
    
.btn-login:hover{
    color:black;
}
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    max-width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-bottom: 20px;
}



.job-title {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.work-experience {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-item {
    margin-bottom: 10px;
}





.navbar {
    background-color: #fff;
    height: 70px;
    margin: 15px;
    border-radius: 20px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #198754;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #198754;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

.hero-section{
    background: url('{{ asset('assets/ss-bg.jpg') }}') no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;

}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.w-100{
    height: 100vh;
}

.card-img-top{
    border-radius: 30px;
    padding: 10px;
}
.card{
    border-radius: 20px;
}
.card-body{
    padding: 25px;
    margin-top: -20px;
}
.btn-primary:hover{
    background-color: #000
}



@media only screen and(min-width:768px) and (max-width:991px) {
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and(max-width:768px){
    .navbar{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

