@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');
html {
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900 !important;
}
a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}
img{
    width: 100%;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(227, 246, 245,0.6),rgba(39, 35, 67, 0.9));
    z-index: -1;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 14px 22px;
    transition: all 0.3s ease;
}
.btn-main{
    background: #272343;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fffffe;
}
.btn:hover{
    color: #ffd803;
    transform: translateY(-5px);
}

.section-intro{
    margin-bottom: 40px;
}
.section-intro .divider{
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,rgb(227, 246, 245),rgb(39, 35, 67));
    margin: 16px auto;
}

body {
    font-family: "Roboto" sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add this line */
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f4f6;
     
}
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 8px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1.5em;
    color: #272343;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #ffd803;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: #fffffe;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
    color: #ffd803;
}
.footerBottom{
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

a {
    text-decoration: none;
}

.h2-content{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    display: inline;
}



/* LOG IN SECTION */


.login-content{
    text-align: center;
    margin-top: 100px;

}  

.login-quote{
    font-weight: normal;
    font-size: 15px;
}

.login-container{
    max-width: 500px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    margin: 25px auto;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid  black;
}

input{
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid  black;
}



.btn-login{
    display: block;
    width: 100%;
    padding: 5px 0px;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid  black;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}
    
.btn-login:hover{
    color: white;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: black;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* END OF LOG IN SECTION */



.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    max-width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-bottom: 20px;
}



.job-title {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}
.card-header{
    color:#fffffe;
}
.form-group1{
    color: #fffffe;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #fffffe;
    margin-bottom: 20px;
}

.work-experience {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-item {
    margin-bottom: 10px;
}

.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background:	#fffffe;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.navbar-brand {
    font-weight: 500;
    color: #f5ebe0;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #4ca771;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #C0E6BA;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #2d312b;
    font-weight: 500;
}


.nav-link:hover,
.nav-link.active {
    color: #ffd803;
    position: relative;
    background-color: transparent;
}

.nav-link:hover::before,
.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #ffd803;

}

/*.hero-section{
    background: url('{{ asset("assets/ss-bg.jpg") }}') no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}*/

.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: calc(100vh - 70px);
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.w-100{
    height: 100vh;
}

.card-img-top{
    border-radius: 30px;
    padding: 10px;
    height: 60%;
}
.card {
    border-radius: 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color: #272343;
}
.card h5{
    color: #bae8e8;
}
.card p{
    color: #fffffe;
}
.pet .card-body h6.white-text {
    color: white;
}
.card-body {
    flex: 1;
    padding: 25px;
}
.card-body h6{
    color: #fffffe;
}
.card
.card-footer {
    text-align: center;

}
.btn-primary:hover{
    background-color: #000
}

.postform{
    margin-top: 100px;
}

.pet-profile{
    margin-top: 100px;
}
.user-profile .mb-0 a {
    color: #fffffe; /* Default link color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s; /* Smooth transition for color change */
}

.user-profile .mb-0 a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #ffd803; /* Hover link color */
}
.btn-custom {
    color: #fffffe;
}
/* .user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 65vh;
} */

header, footer {
    background: #272343;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.request-details {
    display: flex;
    justify-content: space-between;
}

.pet-info, .user-info {
    width: 48%;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.header-wrapper header {
    width: 100%;
    background-image: url('../assets/uno.jpg');
    min-height: calc(100px + 9vw);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-wrapper .cols-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

.header-wrapper .cols-container .left-col {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper .cols-container .left-col .img-container {
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header-wrapper .cols-container .left-col .img-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header-wrapper .cols-container .left-col .h1 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 5px;
    color:#272343;
}

.header-wrapper .cols-container .left-col .h4 {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
    color: #272343;
}
.header-wrapper .cols-container .right-col nav ul{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}
.header-wrapper .cols-container .right-col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header-wrapper .cols-container .left-col ul.nav li a {
    text-transform: uppercase;
    color: #818181;
}

.header-wrapper .cols-container .left-col ul.nav li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
}

.header-wrapper .container .row .col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.header-wrapper .container .row .col .card {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
#htp.htp-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.htp h1{
    color:#020826;
}
.htp p{
    color: #716040;
}


/* LOGIN FORM BACKGROUND */

.doggy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.doggy img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.login-content,
.login-container {
    position: relative;
    z-index: 1; /* Ensure login content is above the background image */
}


#about .about{
    padding-bottom: 40px;
}
/*.about section h1{
    color: #fffffe;
}*/
.about-img img {
    margin-top: -15px; /* Adjust this value to move the image up or down */
}

.about-img1 img {
    margin-top: px; /* Adjust this value to move the image up or down */
}
/*.about h1, h2{
    color: #272343;
}*/


/* LOGIN FORM BACKGROUND */

.cutepussy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cutepussy img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.login-content,
.login-container {
    position: relative;
    z-index: 1; /* Ensure login content is above the background image */
}







.form-container1 {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, .5); /* Slightly darkened background */
    backdrop-filter: blur(5px); /* Apply blur effect */
  }



  /* PFA BACKGROUND */
  .pfabg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.pfabg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media only screen and(min-width:768px) and (max-width:991px) {
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

@media (min-width: 868px) {
    .header-wrapper .cols-container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }
    .header-wrapper .cols-container .left-col {
        padding: 25px 0;
    }
    .header-wrapper .cols-container .right-col nav ul {
        flex-direction: row;
        gap: 30px;
    }
    .header-wrapper .cols-container .right-col .pets {
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px) {
    .header-wrapper .cols-container .left-col {
        margin: 0;
        margin-right: auto;
    }
    .header-wrapper .cols-container .right-col nav {
        flex-direction: row;
    } 
}

.notification-scrollable {
    max-height: 200px; /* Adjust the max height as needed */
    overflow: auto;
}

#laravel-notify{
    z-index: 9999;
}
  
.notify{
 margin-top: 49px;
}

@media only screen and (min-width: 375px) and (min-height: 667px) {
    .carousel-item {
        height: auto;
        min-height: 200px;
    }
    .carousel-caption {
        bottom: 10px; 
    }
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}